<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        <label for="fname">First Name</label>
        <input type="text" name="fname">
        <br>
        <label for="lname">Last Name</label>
        <input type="text" name="lname">
        <br>
        <label for="roll">Roll No</label>
        <input type="number" name="roll">
        <br>
        <label for="branch">Branch</label>
        <select name="branch" id="branch">
            <option selected disabled>--Choose Branch Name--</option>
            {% for i in branch %}
            <option value={{ i }}>{{ i }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="hostel">Hostel</label>
        <select name="hostel" id="hostel">
            <option selected disabled>--Choose Hostel Name--</option>
            {% for i in hostel %}
            <option value={{ i }}>{{ i }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="room">Room No</label>
        <input type="number" name="room">
        <br>
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{10}">
        <br>
        <label for="email">Email</label>
        <input type="email" name="email">
        <br>
        <label for="Password">Password:</label>
        <input type="password"  name="password" minlength="8">
        <button type="submit">Submit</button>
        <br>
    </form>
</body>
</html>